/* Style global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

/* En-tête */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: linear-gradient(90deg, #4CAF50, #2C3E50); /* Dégradé vert */
    color: white;
}

header h1 {
    font-size: 2.5em;
    text-transform: uppercase;
    background: linear-gradient(to right, #B0BEC5, #4CAF50); /* Gris clair à vert */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    animation: glow-visible 3s infinite;
}

@keyframes glow-visible {
    0% { background-position: 0%; filter: brightness(1); } /* Gris foncé */
    50% { background-position: 100%; filter: brightness(1.4); } /* Un peu plus lumineux */
    100% { background-position: 0%; filter: brightness(1); } /* Retour au gris clair */
}

/* Navigation (onglets) */
header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 10px;
}

header nav ul li a {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px 20px;
    border-radius: 30px;
    background: #2C3E50;
    transition: background-color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header nav ul li a i {
    margin-right: 8px; /* Espacement entre l'icône et le texte */
    font-size: 1.3em; /* Taille des icônes */
}

header nav ul li a:hover {
    background-color: #388E3C;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

header nav ul li a:active {
    transform: scale(1); /* Réduction de l'effet d'agrandissement en cliquant */
}

header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

/* Photo de profil */
header img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: transform 0.3s ease-in-out; /* Transition douce pour le zoom */
} 	

/* Effet d'élévation au survol */
header img:hover {
    transform: scale(1.1); /* Augmente la taille de l'image de 10% */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus intense au survol */
}

/* Effet de zoom quand l'image est agrandie */
header img.zoomed {
    transform: scale(2); /* Agrandissement de l'image */
    z-index: 10; /* Place l'image au-dessus des autres éléments */
}

/* Présentation */
#presentation {
    padding: 50px 20px;
    background-color: #f9fafb;
    text-align: center;
}

#presentation h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	position: relative;
	top: -10px; /* Déplace légèrement le texte vers le haut */
}

#presentation p {
    font-size: 1.2em;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    line-height: 1.8;
    border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Effet de carte ombrée */
    transition: transform 0.3s ease, box-shadow 0.5s ease; /* Ajout de transition pour l'effet d'élévation */
}

/* Ajout de l'effet d'ombre au survol pour le paragraphe de Présentation */
#presentation p:hover {
    transform: translateY(-5px); /* Animation d'élévation au survol */
    animation: rgb-shadow 3s infinite; /* Animation d'ombre RGB au survol */
}

/* Animation d'ombre RGB */
@keyframes rgb-shadow {
    0% { box-shadow: 0 0 10px rgba(255, 0, 0, 0.7); }
    25% { box-shadow: 0 0 10px rgba(0, 255, 0, 0.7); }
    50% { box-shadow: 0 0 10px rgba(0, 0, 255, 0.7); }
    75% { box-shadow: 0 0 10px rgba(255, 0, 255, 0.7); }
    100% { box-shadow: 0 0 10px rgba(255, 255, 0, 0.7); }
}

/* Compétences */
#competences {
    padding: 50px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#competences h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	position: relative;
	top: -40px; /* Déplace légèrement le texte vers le haut */
}

#competences ul {
    display: flex; /* Utilisation du flexbox */
    flex-wrap: wrap; /* Permet d'aller à la ligne si nécessaire */
    justify-content: center; /* Centre les blocs horizontalement */
    gap: 15px; /* Ajoute de l'espacement entre les blocs */
    list-style-type: none; /* Supprime les puces */
    padding: 0;
    margin: 0;
}

#competences ul li {
    padding: 10px 20px; /* Ajoute de l'espace autour du texte */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 1.2em;
    color: #333;
    text-align: center; /* Centre le texte */
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
    white-space: nowrap; /* Empêche le contenu de passer à la ligne */
}

@media (max-width: 768px) {
    #competences ul li {
        width: 100%; /* Sur petits écrans, les blocs prennent toute la largeur */
        max-width: none; /* En mode mobile, aucune limite de largeur */
    }
}

#competences ul li:hover {
    transform: translateY(-5px); /* Effet d'élévation */
    animation: rgb-shadow 3s infinite;
}

/* Projet loxone */
#projets_loxone {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

#projets_loxone h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	position: relative;
	top: -10px; /* Déplace légèrement le texte vers le haut */
}
/* Mise en page du projet Loxone */
.projet-layout_loxone {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement le contenu global */
    gap: 20px; /* Espacement entre l'image et le texte */
    padding: 10px; /* Ajoute un peu d'espace intérieur */
}

.projet-layouti_loxone figure {
    flex: 0 0 30%; /* L'image prend environ 30% de la largeur */
    margin: 0;
	position: relative;
	top: -30px; /* Déplace légèrement le texte vers le haut */
}

.projet-layout_loxone figure img {
    max-width: 450px; /* Taille réduite de l'image */
    height: auto; /* Conserve les proportions */
    margin-right: 10px; /* Décale légèrement l'image vers la droite */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.projet-layout_loxone .projet-description_loxone {
    font-size: 1.1em;
    color: #333;
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet de carte pour la description */
}

.projet-description_loxone {
    transition: transform 0.3s ease;
}

.projet-description_loxone:hover {
    transform: scale(1.05); /* Même effet que l’image si elle est à 1.05 */
}

/* Projet python */
#projets_python {
    padding: 50px 20px;
    background-color: #fff;
    text-align: center;
}

#projets_python h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	position: relative;
	top: -10px; /* Déplace légèrement le texte vers le haut */
}

/* Mise en page du projet Python */
.projet-layout_python {
    display: flex;
    align-items: center; /* Centre verticalement les éléments */
    justify-content: center; /* Centre horizontalement le contenu global */
    gap: 20px; /* Espacement entre l'image et le texte */
    padding: 10px; /* Ajoute un peu d'espace intérieur */
}

.projet-layouti_python figure {
    flex: 0 0 30%; /* L'image prend environ 30% de la largeur */
    margin: 0;
	position: relative;
	top: -30px; /* Déplace légèrement le texte vers le haut */
}

.projet-layout_python figure img {
    max-width: 450px; /* Taille réduite de l'image */
    height: auto; /* Conserve les proportions */
    margin-right: 10px; /* Décale légèrement l'image vers la droite */
    border-radius: 10px; /* Coins arrondis */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre douce */
}

.projet-layout_python .projet-description_python {
    font-size: 1.1em;
    color: #333;
    background-color: #f9fafb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Effet de carte pour la description */
}

.projet-description_python{
    transition: transform 0.3s ease;
}

.projet-description_python:hover {
    transform: scale(1.05); /* Même effet que l’image si elle est à 1.05 */
}

article {
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Effet de carte pour chaque projet */
    transition: transform 0.3s ease, animation 0.5s; /* Ajout d'animation */
}

article:hover {
    transform: translateY(-5px); /* Légère animation au survol */
    animation: rgb-shadow 3s infinite; /* Animation d'ombre RGB au survol */
}

article h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: #4CAF50; /* Couleur de titre personnalisée */
}

figure img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour les images des projets */
    margin-bottom: 15px;
	transition: transform 0.3s ease-in-out; /* Transition douce pour le zoom */
}

figure img:hover {
	transform: scale(1.05); /* Augmente la taille de l'image de 10% */
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre plus intense au survol */
}

figcaption {
    font-style: italic;
    color: #555;
    margin-top: 5px;
}

article a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
}

article a:hover {
    text-decoration: underline;
}

/* --- Section Veille Technologique --- */
#veille {
    padding: 40px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

#veille h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

#veille p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #555;
    max-width: 800px;
    margin: 0 auto;
    text-align: justify;
	border-radius: 10px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Effet de carte ombrée */
	transition: transform 0.3s ease, box-shadow 0.5s ease; /* Ajout de transition pour l'effet d'élévation */
}

/* Ajout de l'effet d'ombre au survol pour le paragraphe de Présentation */
#veille p:hover {
    transform: translateY(-5px); /* Animation d'élévation au survol */
    animation: rgb-shadow 3s infinite; /* Animation d'ombre RGB au survol */
}

/* Contact */
#contact {
    padding: 50px 20px;
    background-color: #f0f0f0;
    text-align: center;
}

#contact h2 {
    font-size: 2.5em;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	position: relative;
	top: -10px; /* Déplace légèrement le texte vers le haut */
}

/* Ajoute l'effet de grossissement au survol du formulaire dans la section Contact */
#contact form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Effet de carte pour le formulaire */
    transition: box-shadow 0.5s ease, transform 0.3s ease; /* Transition pour l'agrandissement */
}

#contact form:hover {
    transform: scale(1.02); /* Grossissement de 5% au survol */
    animation: rgb-shadow 3s infinite; /* Animation d'ombre RGB au survol */
}

input, textarea {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1.1em;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05); /* Ombre intérieure pour un effet 3D léger */
}

button {
    padding: 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #388E3C;
    transform: translateY(-2px); /* Légère levée au survol */
}

button:active {
    transform: translateY(0); /* Retirer la levée lorsqu'on clique */
}

/* Pied de page */
footer {
    padding: 20px;
    background-color: #2C3E50;
    color: white;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #4FC3F7; 
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease; /* Transition pour l'effet de survol */
}

footer a:hover {
    color: #82E9DE; 
}

.linkedin-link {
    display: inline-flex; /* Pour aligner le texte et l'icône horizontalement */
    align-items: center;
    color: #4FC3F7;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.linkedin-link:hover {
    color: #82E9DE;
}

.linkedin-link i {
    margin-left: 5px; /* Espace léger entre le texte et l'icône */
    font-size: 1.2em; /* Taille de l'icône */
}


/* Animation de défilement lorsque je clique sur un onglet */
html {
    scroll-behavior: smooth;
}